In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("FIFA22_official_data.csv")
pd.options.display.max_columns = None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16710 entries, 0 to 16709
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16710 non-null  int64
 1   Name                      16710 non-null  object
 2   Age                       16710 non-null  int64
 3   Photo                     16710 non-null  object
 4   Nationality               16710 non-null  object
 5   Flag                      16710 non-null  object
 6   Overall                   16710 non-null  int64
 7   Potential                 16710 non-null  int64
 8   Club                      16446 non-null  object
 9   Club Logo                 16710 non-null  object
 10  Value                     16710 non-null  object
 11  Wage                      16710 non-null  object
 12  Preferred Foot            16710 non-null  object
 13  International Reputation  16710 non-null  int64
 14  Weak Foot                 16710 non-null  int64
 15  Body Type                 16681 non-null  object
 16  Position                  16684 non-null  object
 17  Jersey Number             16684 non-null  float64
 18  Height                    16710 non-null  object
 19  Weight                    16710 non-null  object
 20  Dribbling                 16710 non-null  int64
 21  LongPassing               16710 non-null  int64
 22  BallControl               16710 non-null  int64
 23  Acceleration              16710 non-null  int64
 24  Agility                   16673 non-null  float64
 25  Balance                   16673 non-null  float64
 26  ShotPower                 16710 non-null  int64
 27  Stamina                   16710 non-null  int64
 28  Strength                  16710 non-null  int64
 29  Aggression                16710 non-null  int64
 30  Positioning               16702 non-null  float64
 31  Vision                    16673 non-null  float64
 32  Penalties                 16710 non-null  int64
 33  Composure                 16459 non-null  float64
 34  Marking                   892 non-null    float64
 35  SlidingTackle             16673 non-null  float64
 36  GKHandling                16710 non-null  int64
dtypes: float64(8), int64(16), object(13)
memory usage: 4.7+ MB

In [5]:
df.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Body Type,Position,Jersey Number,Height,Weight,Dribbling,LongPassing,BallControl,Acceleration,Agility,Balance,ShotPower,Stamina,Strength,Aggression,Positioning,Vision,Penalties,Composure,Marking,SlidingTackle,GKHandling
0,212198,Bruno Fernandes,26,https://cdn.sofifa.com/players/212/198/22_60.png,Portugal,https://cdn.sofifa.com/flags/pt.png,88,89,Manchester United,https://cdn.sofifa.com/teams/11/30.png,€107.5M,€250K,Right,3,3,Unique,"<span class=""pos pos18"">CAM",18.0,179cm,69kg,83,88,87,77,80.0,79.0,89,91,70,78,87.0,90.0,91,87.0,NaN,65.0,14
1,209658,L. Goretzka,26,https://cdn.sofifa.com/players/209/658/22_60.png,Germany,https://cdn.sofifa.com/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.com/teams/21/30.png,€93M,€140K,Right,4,4,Unique,"<span class=""pos pos11"">LDM",8.0,189cm,82kg,84,84,87,78,76.0,71.0,85,88,88,81,85.0,84.0,60,82.0,NaN,77.0,8
2,176580,L. Suárez,34,https://cdn.sofifa.com/players/176/580/22_60.png,Uruguay,https://cdn.sofifa.com/flags/uy.png,88,88,Atlético de Madrid,https://cdn.sofifa.com/teams/240/30.png,€44.5M,€135K,Right,5,4,Unique,"<span class=""pos pos24"">RS",9.0,182cm,83kg,83,77,86,76,75.0,78.0,89,78,85,87,91.0,84.0,83,87.0,NaN,38.0,25
3,192985,K. De Bruyne,30,https://cdn.sofifa.com/players/192/985/22_60.png,Belgium,https://cdn.sofifa.com/flags/be.png,91,91,Manchester City,https://cdn.sofifa.com/teams/10/30.png,€125.5M,€350K,Right,4,5,Unique,"<span class=""pos pos13"">RCM",17.0,181cm,70kg,88,93,91,76,79.0,78.0,91,89,74,76,88.0,94.0,83,89.0,NaN,53.0,13
4,224334,M. Acuña,29,https://cdn.sofifa.com/players/224/334/22_60.png,Argentina,https://cdn.sofifa.com/flags/ar.png,84,84,Sevilla FC,https://cdn.sofifa.com/teams/481/30.png,€37M,€45K,Left,2,3,Stocky (170-185),"<span class=""pos pos7"">LB",19.0,172cm,69kg,87,78,88,77,83.0,90.0,82,90,80,84,81.0,82.0,76,87.0,NaN,82.0,14

Here we can see that this dataset contains some columns that are not necessarily required for analysis some of those are
- Photo
- Flag 
- Club logo

So we would just delete these columns

In [6]:
#Dropping the 'Photo', 'Flag' and 'Club Logo' columns
df.drop(['Photo', 'Flag', 'Club Logo'], axis = 1, inplace = True)

The 'ID' column also doesn't add any particular value to our dataset, we can just drop this column

In [7]:
# Dropping the 'ID' column
df.drop(['ID'], axis = 1, inplace = True)

In [8]:
df.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Weak Foot,Body Type,Position,Jersey Number,Height,Weight,Dribbling,LongPassing,BallControl,Acceleration,Agility,Balance,ShotPower,Stamina,Strength,Aggression,Positioning,Vision,Penalties,Composure,Marking,SlidingTackle,GKHandling
0,Bruno Fernandes,26,Portugal,88,89,Manchester United,€107.5M,€250K,Right,3,3,Unique,"<span class=""pos pos18"">CAM",18.0,179cm,69kg,83,88,87,77,80.0,79.0,89,91,70,78,87.0,90.0,91,87.0,NaN,65.0,14
1,L. Goretzka,26,Germany,87,88,FC Bayern München,€93M,€140K,Right,4,4,Unique,"<span class=""pos pos11"">LDM",8.0,189cm,82kg,84,84,87,78,76.0,71.0,85,88,88,81,85.0,84.0,60,82.0,NaN,77.0,8
2,L. Suárez,34,Uruguay,88,88,Atlético de Madrid,€44.5M,€135K,Right,5,4,Unique,"<span class=""pos pos24"">RS",9.0,182cm,83kg,83,77,86,76,75.0,78.0,89,78,85,87,91.0,84.0,83,87.0,NaN,38.0,25
3,K. De Bruyne,30,Belgium,91,91,Manchester City,€125.5M,€350K,Right,4,5,Unique,"<span class=""pos pos13"">RCM",17.0,181cm,70kg,88,93,91,76,79.0,78.0,91,89,74,76,88.0,94.0,83,89.0,NaN,53.0,13
4,M. Acuña,29,Argentina,84,84,Sevilla FC,€37M,€45K,Left,2,3,Stocky (170-185),"<span class=""pos pos7"">LB",19.0,172cm,69kg,87,78,88,77,83.0,90.0,82,90,80,84,81.0,82.0,76,87.0,NaN,82.0,14

Here in the case of Position variable we can see that there are unnecessary span commands given which can be removed for further 
improving our analysis.

In [9]:
df.Position = df.Position.apply(lambda x: x.split('>')[1])
df.head()

AttributeError: 'float' object has no attribute 'split'

#### Here we are being represented with this error because there are some missing values here so first we would have to deal with them.

# Dealing with missing values

In [11]:
df.isnull().sum()

Name                            0
Age                             0
Nationality                     0
Overall                         0
Potential                       0
Club                          264
Value                           0
Wage                            0
Preferred Foot                  0
International Reputation        0
Weak Foot                       0
Body Type                      29
Position                       26
Jersey Number                  26
Height                          0
Weight                          0
Dribbling                       0
LongPassing                     0
BallControl                     0
Acceleration                    0
Agility                        37
Balance                        37
ShotPower                       0
Stamina                         0
Strength                        0
Aggression                      0
Positioning                     8
Vision                         37
Penalties                       0
Composure                     251
Marking                     15818
SlidingTackle                  37
GKHandling                      0
dtype: int64

### 1) Club column

In [10]:
#Finding the number of null values in the 'Club' column
df.Club.isnull().sum()

264

In [12]:
# Shape of the dataset
df.shape

(16710, 33)

In [13]:
# Now we will find the percentage of the missing values in the 'Club' variable
float(100.0 * 264/16710)

1.5798922800718134

So here we can see that the percenage is still very small and there is no other useful way to just impute the missing values
So just dropping the rows with the club missing would be the best option.

#### Dropping the records with Club missing

In [14]:
df = df[~df.Club.isnull()].copy()

In [15]:
df.isnull().sum()

Name                            0
Age                             0
Nationality                     0
Overall                         0
Potential                       0
Club                            0
Value                           0
Wage                            0
Preferred Foot                  0
International Reputation        0
Weak Foot                       0
Body Type                      24
Position                        0
Jersey Number                   0
Height                          0
Weight                          0
Dribbling                       0
LongPassing                     0
BallControl                     0
Acceleration                    0
Agility                        30
Balance                        30
ShotPower                       0
Stamina                         0
Strength                        0
Aggression                      0
Positioning                     8
Vision                         30
Penalties                       0
Composure                     236
Marking                     15591
SlidingTackle                  30
GKHandling                      0
dtype: int64

### 2) Body Type

In [20]:
df.Body Type.isnull().sum()

SyntaxError: invalid syntax (Temp/ipykernel_16460/2589444156.py, line 1)

So first we have to correct the column name

In [25]:
# Renaming the column 'Body Type'
df = df.rename(columns={'Body Type': 'BodyType', 'Weak Foot': 'WeakFoot'})

In [26]:
df.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,WeakFoot,BodyType,Position,Jersey Number,Height,Weight,Dribbling,LongPassing,BallControl,Acceleration,Agility,Balance,ShotPower,Stamina,Strength,Aggression,Positioning,Vision,Penalties,Composure,Marking,SlidingTackle,GKHandling
0,Bruno Fernandes,26,Portugal,88,89,Manchester United,€107.5M,€250K,Right,3,3,Unique,"<span class=""pos pos18"">CAM",18.0,179cm,69kg,83,88,87,77,80.0,79.0,89,91,70,78,87.0,90.0,91,87.0,NaN,65.0,14
1,L. Goretzka,26,Germany,87,88,FC Bayern München,€93M,€140K,Right,4,4,Unique,"<span class=""pos pos11"">LDM",8.0,189cm,82kg,84,84,87,78,76.0,71.0,85,88,88,81,85.0,84.0,60,82.0,NaN,77.0,8
2,L. Suárez,34,Uruguay,88,88,Atlético de Madrid,€44.5M,€135K,Right,5,4,Unique,"<span class=""pos pos24"">RS",9.0,182cm,83kg,83,77,86,76,75.0,78.0,89,78,85,87,91.0,84.0,83,87.0,NaN,38.0,25
3,K. De Bruyne,30,Belgium,91,91,Manchester City,€125.5M,€350K,Right,4,5,Unique,"<span class=""pos pos13"">RCM",17.0,181cm,70kg,88,93,91,76,79.0,78.0,91,89,74,76,88.0,94.0,83,89.0,NaN,53.0,13
4,M. Acuña,29,Argentina,84,84,Sevilla FC,€37M,€45K,Left,2,3,Stocky (170-185),"<span class=""pos pos7"">LB",19.0,172cm,69kg,87,78,88,77,83.0,90.0,82,90,80,84,81.0,82.0,76,87.0,NaN,82.0,14

In [27]:
df.BodyType.isnull().sum()

24

In [28]:
df.shape

(16446, 33)

In [29]:
# Finding the percentage of the missing values in the 'BodyType' column
float(100.0 * 24/16446)

0.1459321415541773

### 3) Composure

In [32]:
df.Composure.isnull().sum()

236

In [33]:
# Finding the percentage of the missing values in the 'Composure' column
float(100.0 * 236/16446)

1.4349993919494102

So to avoid any outlier issue here we will impute the missing values with the median

In [38]:
cmp_median = df.Composure.median()

In [39]:
cmp_median

62.0